.home{
  background-image: url("./src/assets/bgimg.png");
  background-size: cover;
  background-position: 85% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  flex-direction: column;
}
.heading-home{
  padding-top: 3.5em;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 0.02em;
  font-weight: 300;
 
}
.image-container{
  position: relative;
  height: auto;
}
.paradise-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  width: 170px;
}
.whiteRev{
  width: 458px;
  height: 458px;
  animation: rotation 20s infinite linear;
 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.services{
  background-image: url("./src/assets/bgimg2.png");
  height: 100vh;  
  background-size: cover;
  background-position: 50% 50%;
}

.packages{
  height: 100vh;  
  display: flex;
  align-items: center;
}

.slider{
  display: flex;
  overflow: hidden;
  gap: 30px;
 
}
.slider-cards{
  height: 400px;
  width: 300px;
  
}





